<div class="panel panel-default">
    <div>{{apartmentSearch}}</div>
    
    <table ng-model="selectedApartment" class="table table-bordered">
    <tbody>
        <tr id="row" ng-repeat="apt in apartmentData" ng-controller="frontendCtrl" onclick="select(this)" ng-hide="disappear2">            
            <td>
                <div class= "aptinfo">
                    <div class="aptname">
                    {{apt.ApartmentName}}
                    </div>
                    <br>
                    <div "aptaddress">
                    {{apt.Apartment_Address.Street_Address}},
                    <br>
                    {{apt.Apartment_Address.City}}, {{apt.Apartment_Address.State}}, {{apt.Apartment_Address.Zip}}
                    </div>
                </div>
            </td>
            <td>
                <div class = "ng-binding">
                Phone number: {{apt.ContactPhone}}  
                </div>
            </td>
            <!--<td id="disappear" ng-model="disappear2">
                <div>
                Available Rooms:
                </div>
                <div ng-repeat="rooms in apt.RoomList">
                    {{rooms.RoomNumber}}
                </div>
                <div>
                   Contact Email: {{apt.ContactEmail}}
                </div>
            </td>-->

        </tr>
    </tbody>
    </table>
    <div id="monkey">
    </div>
</div>